body{
    background: rgb(147, 223, 255);
    color:rgb(243, 0, 97);
    font-family:monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}
button{
    background: rgb(211, 255, 124);
    color: rgb(90, 43, 116);
    font-family: fantasy;
}